#PreviewPicture1 {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

#PreviewPicture2 {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

#PreviewPicture3 {
    width: 180px;
    height: 180px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}



#imgContainer {
	width: 100%;
	text-align: center;
	position: relative;
}
#imgArea {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	height: 490px;
	position: relative;
	background-color: grey;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
#imgArea img {
	outline: medium none;
	vertical-align: middle;
	max-width: 100%;
    max-height: 100%;
	text-align:center;
}
#imgChange {
	background: transparent;
}
#imgChange input[type="file"] {
	bottom: 0;
	cursor: pointer;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}
/* Progressbar */
.progressBar {
	background: none repeat scroll 0 0 #E0E0E0;
	left: 0;
	padding: 3px 0;
	position: absolute;
	top: 50%;
	width: 100%;
	display: none;
}
.progressBar .bar {
	background-color: #FF6C67;
	width: 0%;
	height: 14px;
}
.progressBar .percent {
	display: inline-block;
	left: 0;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 100%;
}

#previewing{
	height: 100%;
}

.main {
	position: relative;
	border: 2px solid gray;
	border-radius: 10px;
}
	.main label{
	color: rgba(0, 0, 0, 0.71);
	margin-left: 60px;
	}
	#image_preview{
	position: absolute;
	font-size: 30px;
	top: 0px;
	left: 100px;
	width: 450px;
	height: 230px;
	text-align: center;
	line-height: 180px;
	font-weight: bold;
	color: #C0C0C0;
	background-color: #FFFFFF;
	/* overflow: auto; */
	}
	#selectImage{
	padding: 19px 21px 14px 15px;
	position: relative;
	bottom: 0px;
	width: 414px;
	background-color: #FEFFED;
	border-radius: 10px;
	}
	.submit{
	font-size: 16px;
	background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
	border: 1px solid #e5a900;
	color: #4E4D4B;
	font-weight: bold;
	cursor: pointer;
	width: 300px;
	border-radius: 5px;
	padding: 10px 0;
	outline: none;
	margin-top: 20px;
	margin-left: 15%;
	}
	.submit:hover{
	background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
	}
	#file {
	color: red;
	padding: 5px;
	border: 5px solid #8BF1B0;
	background-color: #8BF1B0;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0 0 15px #626F7E;
	margin-left: 15%;
	width: 72%;
	}
	#message{
	position:absolute;
	top:120px;
	left:815px;
	}
	#success
	{
	color:green;
	}
	#invalid
	{
	color:red;
	}
	#line
	{
	margin-top: 274px;
	}
	#error
	{
	color:red;
	}
	#error_message
	{
	color:blue;
	}
	#loading
	{
	display:none;
	position:absolute;
	top:50px;
	left:850px;
	font-size:25px;
	}